<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Hello</h1>
    <br />
    <h1>It is in fact me</h1>
    <br />
    <%= link_to 'Learn more', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>